
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  --primary-white: #fff; /* Déclaration d'une variable en CSS */
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-blue: #37b6ed;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* *******************  NAVBAR  ********************** */
nav {
  z-index: 2;
}

.logo {
  width: 13.625rem;
}

@media(max-width: 768px) {
  .logo {
    width: 10rem;
  }
}

/* *******************  MENU LINKS  ********************** */
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: lowercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  margin-top: 2rem;
  height: 8rem;
}

.navbar-nav > li > a:active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}


/* *******************  HEADER  ********************** */

.header-wraper {
  position: relative;
  background: url("header_wallpaper.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  font-size: 4.375rem;
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 2.5rem !important;
  }
}

/* *******************  TYPED TEXT  ********************** */
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .typed-text {
    font-size: 1.5rem !important;
  }
}

/* *******************  HEADER MAIN OFFER BUTTON ********************** */
.btn-main-offer {
  border: 0.0625rem solid var(--primary-orange);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.9375rem;
  color: var(--primary-white);
  text-decoration: none;
  font-size: 1.25rem;
  margin-top: 2rem;
}

.btn-main-offer:hover {
  color: var(--primary-white);
  background-color: var(--primary-blue);
  transition: 1s ease-in-out;
}


/* *******************  PARTICLES JS ********************** */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}